:root {
--blue: #0000ff;
--jadeite: #00A36C;
--liteorange: #FCBD60;
--green: #2bf2ac;
--brightorange: #ff4500;
--pistachio: #a9d39e;
}

body {
  /* background: rgb(162,30,149);
  background: linear-gradient(0deg, rgba(162,30,149,1) 19%, rgba(222,199,251,1) 89%); */
  background: rgb(43,242,172);
  background: linear-gradient(0deg, rgba(43,242,172,1) 24%, rgba(252,189,96,0.9178265056022409) 90%);
  background-size: cover;
  height: auto;
  min-height: 100%;
  /* background-repeat: no-repeat; */
 }

 .navbar {
  display:flex;
  justify-content: space-around;
 }
h1 {
font-family: 'Inter', sans-serif;
font-size: 55px;
color: #0000ff;
display: flex;
justify-content: center;
}
.nav {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: flex-end;
}

.nav-tabs {
  font-size: 20px;

}
.openModalBtn {
  background-color: var(--jadeite);
  font-size: 14px;
  font-family: 'Inter', sans-serif;

}
.container-box {
  border:4px solid black;
  background-color: white; 
  display: flex;
  justify-content: space-around;
}  

.container-landing {
  display:grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: fit-content(50%) fit-content(50%);
  margin-top: 35px;
}

.landing-item1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  border: 4px solid black;
  border-radius: 10px;
  margin: 3px;
  padding: 2px;
  background-color: antiquewhite;
  font-size: 24px;
}
.landing-item2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  border: 4px solid black;
  margin: 4px;
  height: 400px;
  width: auto;
  border-radius: 25px;
}

.landing-item3 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  border: 4px solid black;
  padding: 2px;
  margin: 3px;
  border-radius: 10px;
  background-color: antiquewhite;
  font-size: 14px;
}

.footer {
  position: absolute;
  right: 50%;
  bottom:0;
  /* padding-bottom: 4px; */
}

.friend-card {
  width: 350px;
  background-color:var(--liteorange) ;
  font-family: 'Roboto Slab', serif;
  display: flex;
  justify-content: center;
  text-align: center;
}
.join-btn {
  --s: .25em; /* control the wave*/
  
  padding: .4em .5em;
  background-color: #BF4D28;
  color: #fff;
  --_s: calc(var(--s)*4) 51% repeat-x;
  --_r: calc(1.345*var(--s)) at left 50%;
  --_g1: #000 99%,#0000 101%;
  --_g2: #0000 99%,#000 101%;
  --mask:
    radial-gradient(var(--_r) top    calc(var(--s)* 1.9),var(--_g1)) 
     calc(50% - 2*var(--s) - var(--_i,0px)) 0/var(--_s),
    radial-gradient(var(--_r) top    calc(var(--s)*-0.9),var(--_g2)) 
     calc(50% - var(--_i,0px)) var(--s)/var(--_s),
    radial-gradient(var(--_r) bottom calc(var(--s)* 1.9),var(--_g1)) 
     calc(50% - 2*var(--s) + var(--_i,0px)) 100%/var(--_s),
    radial-gradient(var(--_r) bottom calc(var(--s)*-0.9),var(--_g2)) 
     calc(50% + var(--_i,0px)) calc(100% - var(--s))/var(--_s);
  -webkit-mask: var(--mask);
          mask: var(--mask);
  cursor: pointer;
}
.join-btn:hover {
  --_i: calc(4*var(--s));
  transition: .35s;
}
.join-btn:active {
  background-image: linear-gradient(#0004 0 0);
}
.join-btn:focus-visible {
  -webkit-mask: none;
  outline-offset: .1em;
  padding: .2em .5em;
  margin: .2em 0;
}

.friend-group {
  display: flex;
  justify-content: center;
  padding: 4px;
}

.nav-background {
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
}

.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

.login-btn {
  background-color: var(--brightorange);
  box-shadow: 2px 3px 2px white;
}
.sign-btn {
  box-shadow: 2px 3px 2px var(--brightorange);
}

.search-container {
  display: flex;
  justify-content: space-evenly;
}
.submit-btn {
  background-color: var(--pistachio);
  font-family: 'Inter', sans-serif;
  color: var(--brightorange);

}

.search-title {
  display: flex;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-size: 45px;
}

#dropdown-basic-button {
  background-color: var(--liteorange);
  font-family: 'Inter', sans-serif;
  border:#BF4D28;
}